@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes growBarA {
    from {
      width: 0;
    }
    to {
      width: 90%;
    }
  }
  @keyframes growBarB {
    from {
      width: 0;
    }
    to {
      width: 75%;
    }
  }
  @keyframes growBarC {
    from {
      width: 0;
    }
    to {
      width: 85%;
    }
  }
  @keyframes growBarD {
    from {
      width: 0;
    }
    to {
      width: 65%;
    }
  }